@import "timer__roundel.less";
@import "timer__sidebar.less";

.xt__timer--main {
	width: 75%;
	padding: 15px;
}

.xt__timer--sidebar {
	width: 25%;
}

.xt__timer--main,
.xt__timer--sidebar {
	float: left;
}

.xt__timer__clock {
	display: block;
	height: auto;
	overflow: hidden;
}

.xt__timer__desc {
	height: 120px;
}