body {
	border: 1px solid #999;
}

.top-bar {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	z-index: 10;
	-webkit-app-region: drag;

	a {
		-webkit-app-region: no-drag;
	}

	.label {
		position: relative;
		top: 0px;
		margin-left: 3px;
		padding: 3px;
	}

	.top-bar-section li.logout {

		a:not(.button) {
			padding-left: 5px;
		}

		span {
			margin-left: 10px;
		}

		img {
			height: 35px;
			display: inline-block;
		}
	}

	.top-bar-section .icon a:not(.button) {
		padding: 0px 5px;
		border-right: 1px solid #999;
		position: relative;
		display: inline-block;
		width: 100%;
	}

	.top-bar-section .icon:last-child a:not(.button) {
		padding: 0px 5px;
		border-right: 0px;
	}

	.top-bar-section .icon img {
		position: relative;
		width: 15px;
	}

	.name.wide {
		width: 100%;
		padding-left: 50px;
		
		&, a {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		a {
			padding-left: 0px;
			cursor: default;
			-webkit-app-region: drag;
		}
	}

	.title-area {
		max-width: 70%;
	}

	.name h1 {
		color: #FFF;
	}

}

.content-wrap {
	height: 100%;
	padding-top: 45px;
}

.row {
	height: 100%;
}

.l-centered {
	text-align: center;
}

.panel.callout{
	margin-top: 0px;
	margin-bottom: 10px;
	padding: 9px 14px;
	display: inline-block;
	width: 100%;

	label {
		float: left;
		font-size: 11px;
		text-transform: uppercase;
		font-weight: bold;

		+ label {
			margin-left: 15px;
		}
	}
}

.breadcrumbs {
	margin-top: 10px;
	margin-bottom: 10px;
	white-space: nowrap;

	li {
		position: relative;
	}

	img {
		max-height: 25px;
		margin-right: 5px;
		position: absolute;
		top: -5px;

		& + span {
			display: inline-block;
			padding-left: 35px;
		}
	}
}

#desc {
	resize: none;
	height: 80px;
}

.scroll-container {
	overflow-y: auto;
}

.top-bar, 
.sidebar {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.is-datepicker {
	margin-top: 10px;

	label,
	input,
	.button {
		margin-bottom: 0px;
	}

	.do-refresh img { top: 7px; }
}

#shortcutMenu p {
	display: block;
	width: 50%;
	float: left;

	&:last-of-type,
	&:nth-last-child(3) {
		margin-bottom: 0px;
	}

	&:nth-child(2n + 1) {
		clear: left;
	}
}

.full-height {
	height: 100%;
}

.activity-content {
	overflow: auto;
	height: 100%;
	padding: 10px;
	border-left: 1px solid #DDDDDD;
	line-height: 1.3;
	-webkit-user-select: all;
	-moz-user-select: all;
	-ms-user-select: all;
	-o-user-select: all;
	user-select: all;
	cursor: auto;
}

.activity-content:empty {
	background: url(../svg/sadface.svg) no-repeat;
	background-size: 25%;
	background-position: center center;
}

.activity-content * {
	line-height: 1.2;
	font-family: Arial, Helvetica, sans-serif;
	-webkit-user-select: all;
	-moz-user-select: all;
	-ms-user-select: all;
	-o-user-select: all;
	user-select: all;
	cursor: auto;
}

.activity-content a {
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	display: inline-block;
	white-space: nowrap;

	&:hover {
		text-decoration: underline;
	}
}