body.notification {
	border: none;
}

.is-notification {

	display: block;
	width: 100%;
	height: 100%;
	padding: 5px;
	position: relative;
	cursor: default;
	overflow: hidden;

	background: -webkit-linear-gradient(#FFF, darken(#FFF, 5%));

	border-top: 5px solid $primary-color;

	h2 {
		color: #333;
		font-size: 16px;
		font-weight: bold;
		margin: 0 0 0 0;
	}

	p {
		margin: 0 0 0 0;
		color: #333;
		font-size: 12px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	h2, p {
		display: none;
		margin-left: 45px;
	}

	img {
		display: none;
		position: absolute;
		top: 5px;
		left: 5px;
		max-width: 35px;
		margin-top: 3px;
	}

}