.sidebar {
	height: 100%;

	.sidebar-filter-wrap {
		height: 10%;
		position: relative;

		input {
			border-width: 1px 0px 1px 0px;
			margin-bottom: 0px;
			height: 100%;
			padding-right: 45px;

			&:focus {
				box-shadow: none;

				& + .do-clearfilter {
					border-color: #999;
				}
			}
		}
	}

	.sidebar-projects-wrap {
		height: 90%;
		overflow: auto;
		border-right: 1px solid #CCCCCC;
	}

	.side-nav {

		margin: 0px;
		padding: 0px;

		li {
			margin-bottom: 0px;
			display: block;
			width: 100%;
			height: auto;
			overflow: hidden;
		}

		li a {
			font-size: 13px;
			padding: 5px;
			display: inline-block;
			float: left;
			width: 100%;
		}

		> li > span {

			display: inline-block;
			width: 100%;
			font-weight: bold;
			padding: 5px 5px 0 5px;
			cursor: pointer;
			position: relative;

			&:hover {
				text-decoration: underline;
			}

		}

		li ul {
			list-style: none outside none;
			margin-left: 10px;

			li {
				border-bottom: 1px solid lighten(#DDDDDD, 5%);

				&:last-child {
					border-bottom: none;
				}
			}
		}

		li ul li > span {
			cursor: pointer;
			padding: 5px;
			display: inline-block;
			width: 100%;
			padding-right: 30px;

			&:hover {
				text-decoration: underline;
			}

		}

		> li {
			border-bottom: 1px solid #DDD;
			padding-bottom: 5px;
		}

		li > span {

			position: relative;
			padding-right: 30px;

			&:after {
				content: '';
				width: 0px;
				height: 0px;
				background: transparent;
				position: absolute;
				top: 10px;
				right: 10px;

				border-top: 5px solid transparent;
				border-bottom: 5px solid transparent;
				border-left: 5px solid #333;
			}

			&.is-open:after {
				border-left: 5px solid transparent;
				border-right: 5px solid transparent;
				border-top: 5px solid #333;
				border-bottom: none;
			}

		}

	}

	.do-clearfilter {
		position: absolute;
		right: 0px;
		top: 0px;
		height: 100%;
		border-color: #CCC;
		border-width: 1px 1px 1px 0px;
		border-style: solid;
		margin-bottom: 0px;
		width: 45px;

		-webkit-transition: border-color 0.45s ease-in-out;
		-moz-transition: border-color 0.45s ease-in-out;
		-ms-transition: border-color 0.45s ease-in-out;
		-o-transition: border-color 0.45s ease-in-out;
		transition: border-color 0.45s ease-in-out;
	}

	.label {
		float: left;
		margin-right: 10px;
	}
}