.sidebar {
	border-right: 1px solid #DDDDDD;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;

	.side-nav {

		margin: 0px;
		padding: 0px;

		li {
			margin-bottom: 0px;
		}

		li a {
			font-size: 13px;
			width: 100%;
			padding: 5px;
		}

		> li > span {

			display: inline-block;
			width: 100%;
			font-weight: bold;
			padding: 5px 5px 0 5px;
			cursor: pointer;

			&:hover {
				text-decoration: underline;
			}

		}

		li ul {
			list-style: none outside none;
		}

		li ul li > span {
			cursor: pointer;
			padding: 5px;
			display: inline-block;
			width: 100%;

			&:hover {
				text-decoration: underline;
			}

		}

		> li {
			border-bottom: 1px solid #DDD;
			padding-bottom: 5px;
		}

	}
}