.time-table {
	margin: 15px 0px;
	width: 100%;

	td:nth-child(1) { width: 40%; }
	td:nth-child(2) { width: 10%; text-align: center; }
	td:nth-child(3) { width: 40%; }
	td:nth-child(4) { width: 10%; }

	td {
		vertical-align: top;
	}

	.button {
		margin-bottom: 0px;
	}

	textarea, input {
		margin-bottom: 0px;
	}

	textarea {
		resize: none;
		height: 85px;
	}

	.error {
		border-color: $alert-color;
	}

	a:hover {
		text-decoration: underline;
	}

}