.time-table,
.time-table-state {
	margin: 15px 0px;
	width: 100%;

	th:nth-child(1) { width: 25%; }
	th:nth-child(2) { width: 25%; }
	th:nth-child(3) { width: 10%; }
	th:nth-child(4) { width: 25%; }
	th:nth-child(5) { width: 10%; }

	td:nth-child(3) { text-align: center; }

	td {
		vertical-align: top;
	}

	.button {
		margin-bottom: 0px;
	}

	textarea, input {
		margin-bottom: 0px;
	}

	textarea {
		resize: none;
		height: 85px;
	}

	.error {
		border-color: $alert-color;
	}

	a:hover {
		text-decoration: underline;
	}

}

.time-table-state {

	.button {
		width: 100%;

		& + .button {
			margin-top: 5px;
		}
	}

}

.time-table-tasks {

	$hot-color: $alert-color;
	$urgent-color: lighten($hot-color, 10%);
	$high-color: lighten($urgent-color, 10%);
	$medium-color: lighten($high-color, 10%);
	$low-color: lighten($medium-color, 10%);

	th:nth-child(1) { width: 20%; }
	th:nth-child(2) { width: 20%; }
	th:nth-child(3) { width: 15%; }
	th:nth-child(4) { width: 15%; }
	th:nth-child(5) { width: 15%; }
	th:nth-child(6) { width: 15%; }

	td { vertical-align: middle; }
	td:nth-child(6) { vertical-align: top; }

	[data-priority]  { text-align: center; }
	[data-priority='5'] { background: $hot-color };
	[data-priority='4'] { background: $urgent-color };
	[data-priority='3'] { background: $high-color };
	[data-priority='2'] { background: $medium-color };
	[data-priority='1'] { background: $low-color };
}